# 工作流名称
name: Sync-Images-to-DockerHub-Example
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to DockerHub.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repos
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false 
    
    # 使用shell命令批量同步所需的镜像到dockerHub中
    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
        #!/usr/bin/env bash
        # NAS
         skopeo copy docker://docker.io/whyour/qinglong:latest docker://registry.cn-hangzhou.aliyuncs.com/jermey/qinglong:latest
         skopeo copy docker://docker.io/anujdatar/cups:25.01.01 docker://registry.cn-hangzhou.aliyuncs.com/jermey/cups:25.01.01
         skopeo copy docker://docker.io/easytier/easytier:latest docker://registry.cn-hangzhou.aliyuncs.com/jermey/easytier:latest
         skopeo copy docker://docker.io/filebrowser/filebrowser:v2.32.1 docker://registry.cn-hangzhou.aliyuncs.com/jermey/filebrowser:v2.32.1
         skopeo copy docker://docker.io/ugeek/webdav:amd64  docker://registry.cn-hangzhou.aliyuncs.com/jermey/webdav:amd64
         skopeo copy docker://docker.io/qbittorrentofficial/qbittorrent-nox:5.0.4-1  docker://registry.cn-hangzhou.aliyuncs.com/jermey/qbittorrent-nox:5.0.4-1
         skopeo copy docker://docker.io/laoyutang/clash-and-dashboard:latest  docker://registry.cn-hangzhou.aliyuncs.com/jermey/clash-and-dashboard:latest
         skopeo copy docker://docker.io/dockurr/samba  docker://registry.cn-hangzhou.aliyuncs.com/jermey/samba
         skopeo copy docker://docker.io/zhiweio/picseal:latest  docker://registry.cn-hangzhou.aliyuncs.com/jermey/picseal:latest
         skopeo copy docker://docker.io/marcobaobao/yt-dlp-webui  docker://registry.cn-hangzhou.aliyuncs.com/jermey/yt-dlp-webui
         skopeo copy docker://docker.io/guovern/iptv-api:1.7.3  docker://registry.cn-hangzhou.aliyuncs.com/jermey/iptv-api:1.7.3
         skopeo copy docker://docker.io/jlesage/handbrake:v26.01.1  docker://registry.cn-hangzhou.aliyuncs.com/jermey/handbrake:v26.01.1t
         skopeo copy docker://docker.io/photoview/photoview:2 docker://registry.cn-hangzhou.aliyuncs.com/jermey/photoview:2
         skopeo copy docker://docker.io/mariadb:lts docker://registry.cn-hangzhou.aliyuncs.com/jermey/mariadb:lts

